server:
  port: 8888

spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        git:
          uri: https://github.com/Beaconfire-Team-abc/cloud-config
          clone-on-start: true
          skip-ssl-validation: true
          default-label: main